<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=2.0">
  <title>Sanskrit metres</title>
  <style type="text/css">
    h1 { text-align: center; }
  </style>
</head>

<body>
<h1>Sanskrit metres</h1>

<h2>Introduction</h2>
<p>
This is intended to be a website dealing with Sanskrit metres.
</p>

<p>In its current state, this is all very raw; work in progress.
Source code at
<a href="https://github.com/shreevatsa/sanskrit/">https://github.com/shreevatsa/sanskrit/</a>
</p>

<h2>Metre identifier</h2>
<p>
Type a Sanskrit verse into the box below and click the button.<br/>
(The input can be in either Devanagari, IAST, Harvard-Kyoto, or ITRANS format.)<br/>
For now, you can use <a href="http://shreevatsa.appspot.com/sanskrit/transliterate.html">this tool I wrote many years ago</a>, or <a href="http://www.learnsanskrit.org/tools/sanscript">&ldquo;Sanscript&rdquo;</a>, to verify your transliteration. (Will soon add transliteration to this page itself&hellip;)
</p>

<div>
  {% include "input_form.html" %}
</div>

<div>The code is going through some rewrites currently, so it may be unstable at the moment. This is version 1i. Older versions are still available at
  <ul>
    <li><a href="http://1h.sanskritmetres.appspot.com/">http://1h.sanskritmetres.appspot.com</a></li>
    <li><a href="http://1g.sanskritmetres.appspot.com/">http://1g.sanskritmetres.appspot.com</a></li>
    <li><a href="http://1f.sanskritmetres.appspot.com/">http://1f.sanskritmetres.appspot.com</a></li>
    <li><a href="http://1e.sanskritmetres.appspot.com/">http://1e.sanskritmetres.appspot.com</a></li>
    <li><a href="http://1d.sanskritmetres.appspot.com/">http://1d.sanskritmetres.appspot.com</a></li>
    <li><a href="http://1b.sanskritmetres.appspot.com/">http://1b.sanskritmetres.appspot.com</a></li>
    <li><a href="http://1a.sanskritmetres.appspot.com/">http://1a.sanskritmetres.appspot.com</a></li>
    <li><a href="http://1.sanskritmetres.appspot.com/">http://1.sanskritmetres.appspot.com</a></li>
  </ul>
</div>

<h2>Resources for learning more about Sanskrit metres</h2>
See <a href="https://www.youtube.com/playlist?list=PLABJEFgj0PWVXr2ERGu2xtoSXrNdBs5xS">this playlist</a>. There is also some incidental mention at around 10:00 in <a href="https://www.youtube.com/watch?v=zLRJYk0mAOU">this video</a>.

<h2>The most important Sanskrit metres</h2>
<p>
As evident from the tables <a href="/statistics">here</a>, a few Sanskrit metres account for
most of the Sanskrit literature. (To be continued&hellip;.)
</p>

</body>
</html>
